<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./vue.global.js"></script>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        input {
            width: 60px;
        }

        footer {
            background-color: #f8f8f8;
            padding: 20px;
            text-align: center;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        footer p {
            margin: 0;
            font-size: 14px;
            color: #333;
        }
    </style>
</head>

<body>
    <div id="app">
        <input type="checkbox" v-model="forceDetectHdr">强制检测HDR<br>
        <input type="checkbox" v-model="forceUseOnlineTvMeta" checked>强制使用在线剧集元数据<br>
        <template v-for="type in videoType">
            <input type="radio" v-model="currentType" :value="type">{{ type }}<br>
        </template>
        <button @click="Scan" :disabled="scanDetail.get(currentType).status === 'scanning'">扫描</button>
        <button @click="GetUncompletedList"
            :disabled="scanDetail.get(currentType).status !== 'finished'">获取不完整列表</button>
        <button @click="GetAllList"
            :disabled="scanDetail.get(currentType).status !== 'finished'">获取所有列表</button>
        <div>扫描状态: {{ scanDetail.get(currentType).status }}</div>
        <div>扫描进度: {{ scanDetail.get(currentType).status === 'finished' ? '100%' : scanDetail.get(currentType).processedVideoNum + '/' + scanDetail.get(currentType).totalVideoNum }}</div>
        <div>开始时间: {{ scanDetail.get(currentType).scanBeginTime }}</div>
        <div>结束时间: {{ scanDetail.get(currentType).scanEndTime }}</div>
        <div>视频总数: {{ scanDetail.get(currentType).totalVideoNum }}</div>
        <div>不完整视频总数: {{ videosLists.length }}</div>
        <table>
            <tr>
                <th>ID</th>
                <th>路径</th>
                <th>NFO状态</th>
                <th>海报状态</th>
                <th>HDR类型</th>
                <th>刮削</th>
            </tr>
            <template v-for="(video, index) in videosLists" :key="video.id">
                <tr>
                    <td>{{ video.id }}</td>
                    <td>{{ video.VideoPath }}</td>
                    <td :style="{ color: video.NfoStatus == 1 ? 'red' : 'black' }" >{{ this.status2Str[video.NfoStatus] }}</td>
                    <td>{{ this.status2Str[video.PosterStatus] }}</td>
                    <td>{{ video.HDRType }}</td>
                    <td>
                        <template v-if="video.scrapedTitle === undefined">
                            <input type="text" v-model="video.scrapeTmdbId" placeholder="tmdbId">
                            <input type="text" v-model="video.scrapeSeasonId" placeholder="seasonId"
                                v-if="currentType === 'tv'">
                            <button
                                @click="currentType === 'movie' ?
                                ScrapeMovie(index, video.id, video.scrapeTmdbId) : 
                                ScrapeTv(index, video.id, video.scrapeTmdbId, video.scrapeSeasonId)"
                            >
                                刮削
                            </button>
                        </template>
                        <template v-else>
                            <div>{{ video.scrapedTitle }}</div>
                        </template>
                    </td>
                </tr>
            </template>
        </table>

        
        <footer>
            <p>服务端版本号: {{ serverVersion }}</p>
        </footer>
    </div>

    <script>
        let app = Vue.createApp({
            data() {
                return {
                    serverVersion: '',
                    videoType: ['movie', 'tv'],
                    currentType: 'movie',
                    forceDetectHdr: false,
                    forceUseOnlineTvMeta: true,
                    scanDetail: new Map(
                        [
                            ['movie', {
                                status: 'not scanned',
                                scanBeginTime: '',
                                scanEndTime: '',
                                totalVideoNum: 0,
                                processedVideoNum: 0,
                            }],
                            ['tv', {
                                status: 'not scanned',
                                scanBeginTime: '',
                                scanEndTime: '',
                                totalVideoNum: 0,
                                processedVideoNum: 0,
                            }],
                        ]
                    ),
                    videosLists: [],
                    status2Str: ['完好', '损坏', '不存在'],
                    apiAddr: window.location.protocol + '//' + window.location.host,
                    //apiAddr: 'http://xanas.backzhao.cn:54250',
                    requestOptions: {
                        method: 'GET',
                        credentials: 'include', // 这将包括凭据在请求中
                    },
                }
            },

            created() {
                this.CheckScanStatus();
                this.GetVersion();
                setInterval(() => {
                    for (type of this.videoType) {
                        if (this.scanDetail.get(type).status === 'scanning') {
                            this.CheckScanStatus();
                        }
                    }
                }, 1000);
            },

            methods: {
                Scan() {
                    fetch(this.apiAddr + "/api/scan?videoType=" + this.currentType + (this.forceDetectHdr ? "&forceDetectHdr" : ""), this.requestOptions)
                        .then((res) => res.json())
                        .then((res) => {
                            this.scanDetail.get(this.currentType).status = res.success ? 'scanning' : 'failed';
                        });
                },

                CheckScanStatus() {
                    fetch(this.apiAddr + "/api/scanResult", this.requestOptions)
                        .then((res) => res.json())
                        .then((res) => {
                            for (result of res) {
                                switch (result.ScanStatus) {
                                    case 0:
                                        // console.log("远程服务器尚未进行扫描.");
                                        break;
                                    case 1:
                                        // console.log("远程服务器正在扫描......");
                                        this.scanDetail.get(result.VideoType).status = 'scanning';
                                        this.scanDetail.get(result.VideoType).totalVideoNum = result.TotalVideoNum;
                                        this.scanDetail.get(result.VideoType).processedVideoNum = result.ProcessedVideoNum;
                                        break;
                                    case 2:
                                        // console.log("远程服务器扫描完成.");
                                        this.scanDetail.get(result.VideoType).totalVideoNum = result.TotalVideoNum;
                                        this.scanDetail.get(result.VideoType).status = 'finished';
                                        this.scanDetail.get(result.VideoType).scanBeginTime = result.ScanBeginTime;
                                        this.scanDetail.get(result.VideoType).scanEndTime = result.ScanEndTime;
                                        this.GetUncompletedList();
                                        break;
                                    default:
                                        break;
                                }
                            }
                        });
                },

                GetUncompletedList() {
                    fetch(this.apiAddr + "/api/list?videoType=" + this.currentType + "&status=incomplete", this.requestOptions)
                        .then((res) => res.json())
                        .then((res) => {
                            if (res.success) {
                                this.videosLists = res.list;
                                console.log("不完整的视频总数: " + this.videosLists.length);
                            } else {
                                console.log("获取不完整视频列表失败");
                            }
                        });
                },

                GetAllList() {
                    fetch(this.apiAddr + "/api/list?videoType=" + this.currentType + "&status=all", this.requestOptions)
                        .then((res) => res.json())
                        .then((res) => {
                            if (res.success) {
                                this.videosLists = res.list;
                                console.log("所有视频总数: " + this.videosLists.length);
                            } else {
                                console.log("获取所有视频列表失败");
                            }
                        });
                },

                ScrapeMovie(index, videoid, tmdbId) {
                    fetch(this.apiAddr + "/api/scrape?id=" + videoid + "&tmdbid=" + tmdbId + "&videoType=" + this.currentType, this.requestOptions)
                        .then((res) => res.json())
                        .then((res) => {
                            if (res.success) {
                                console.log("刮削电影成功, 标题: " + res.msg);
                                this.videosLists[index].scrapedTitle = res.msg;
                                this.videosLists[index].NfoStatus = 0;
                                this.videosLists[index].PosterStatus = 0;
                            } else {
                                console.log("刮削电影失败: " + res.msg);
                            }
                        });
                },

                ScrapeTv(index, videoid, tmdbId, seasonId) {
                    fetch(this.apiAddr + "/api/scrape?id=" + videoid + "&tmdbid=" + tmdbId + "&videoType=" + this.currentType + "&seasonId=" + seasonId + "&forceUseOnlineTvMeta=" + this.forceUseOnlineTvMeta, this.requestOptions)
                        .then((res) => res.json())
                        .then((res) => {
                            if (res.success) {
                                console.log("刮削电视剧成功, 标题: " + res.msg);
                                this.videosLists[index].scrapedTitle = res.msg;
                                this.videosLists[index].NfoStatus = 0;
                                this.videosLists[index].PosterStatus = 0;
                            } else {
                                console.log("刮削电视剧失败: " + res.msg);
                            }
                        });
                },

                GetVersion() {
                    fetch(this.apiAddr + "/api/version", this.requestOptions)
                    .then((res) => res.json())
                    .then((res) => {
                        if (res.success) {
                            console.log("服务端版本号: " + res.version);
                            this.serverVersion = res.version;
                        } else {
                            console.log("获取服务端版本号失败: " + res.msg);
                        }
                    });
                }
            }
        });

        let vm = app.mount('#app');
    </script>

</body>

</html>